/*

/*/

!.gitignore
!README.md

# Include the main folders needed
!Scriptable Console/
!docs/
!docfx/

# Ignore everything inside project folder
Scriptable Console/*

# Select which folders become included
!Scriptable Console/Assets/
!Scriptable Console/ProjectSettings/
!Scriptable Console/Packages/